html, body {
	font-family: 'Raleway', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	bottom: 0px;
	height: 100%;
	left: 0px;
	margin-left: 250px;
	position: absolute;
	right: -250px;
	transition: 1.0s;
}